/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Define custom colors for CDN usage (best practice is to use a build process) */
.bg-primary {
    background-color: #003262;
}

.text-primary {
    color: #003262;
}

.border-primary {
    border-color: #003262;
}

.bg-secondary {
    background-color: #fdb515;
}

.text-secondary {
    color: #fdb515;
}

.border-secondary {
    border-color: #fdb515;
}

.bg-dark {
    background-color: #0f172a;
}

.text-dark {
    color: #0f172a;
}
